<section class="hero-section d-flex align-items-center text-center bg-light">
  <div class="container">
    <h1 class="fw-semibold display-4 text-dark">Gestiones Online</h1>
    <p class="lead mt-5 fw-normal fs-3 text-dark">
      Accedé a todas las gestiones desde un solo lugar, sin necesidad de moverte de tu casa.
    </p>
  </div>
</section>

<section class="container my-5 gestiones-section">
  <!-- Sección 1: Turnos Médicos -->
  <div class="row my-4 align-items-center info-card shadow-sm rounded-4 p-3">
    <div class="col-md-6">
      <img src="turnos.jpg" class="img-fluid rounded shadow-img" alt="Gestión de turnos" />
    </div>
    <div class="col-md-6">
      <h3>Solicitá, cancelá o reprogramá tus turnos</h3>
      <p>Buscá turnos por especialidad, médico, ubicación o entidad. Visualizá disponibilidad y recibí confirmaciones por mail.</p>
      <a class="btn btn-gradient-primary transition-hover" routerLink="/ingreso">Reservar Turno</a>
    </div>
  </div>

  <!-- Sección 2: Estudios Médicos -->
  <div class="row my-4 align-items-center flex-md-row-reverse info-card shadow-sm rounded-4 p-3">
    <div class="col-md-6">
      <img src="estudios.jpg" class="img-fluid rounded shadow-img" alt="Estudios médicos" />
    </div>
    <div class="col-md-6">
      <h3>Turnos para estudios médicos</h3>
      <p>Reservá estudios como laboratorio, rayos X, tomografía o resonancia. Recibí instrucciones previas por email.</p>
      <a routerLink="/estudios" class="btn btn-gradient-secondary transition-hover">Ver Estudios</a>
    </div>
  </div>

  <!-- Sección 3: Tu credencial digital -->
  <div class="row my-4 align-items-center info-card shadow-sm rounded-4 p-3">
    <div class="col-md-6">
      <img src="credencial.jpg" class="img-fluid rounded shadow-img" alt="Credencial virtual" />
    </div>
    <div class="col-md-6">
      <h3>Tu credencial digital</h3>
      <p>Registrate, validá tus datos y obtené una credencial digital con código QR para acceder a tus turnos y datos médicos.</p>
      <a class="btn btn-dark transition-hover" routerLink="/registro">Registrarme</a>
    </div>
  </div>
</section>