<!-- Auditorías -->
<div class="VentanaNivel1">
  <h3>Auditorías registradas</h3>

  <!-- Encabezado -->
  <div class="fila-auditoria encabezado-auditoria">
    <span>Fecha del registro</span>
    <span>IP de acceso</span>
    <span>Nombre del usuario</span>
    <span>Modificación registrada</span>
  </div>

  <div class="auditorias-container"
       *ngIf="auditoriasActuales.length > 0; else sinAuditorias">

    <div *ngFor="let a of auditoriasActuales"
         class="fila-auditoria">

      <span class="aud-fecha">
        {{ a.fecha }}
      </span>

      <span class="aud-ip">
        {{ a.IP }}
      </span>

      <span class="aud-usuario">
        {{ a.nombreUsuario }}
      </span>

      <span class="aud-cambio">
        {{ a.cambio }}
      </span>

    </div>
  </div>

  <ng-template #sinAuditorias>
    <p>No hay registros de auditoría para mostrar.</p>
  </ng-template>
</div>
